### **Pandas İndeksleme ve Dilimleme**

In [1]:
# Pandas kütüphanesini çağıralım ve içe aktaralım.
# Numpy kütüphanesini çağıralım ve içe aktaralım.
import pandas as pd
import numpy as np

In [5]:
data = np.random.randint(1,10,12).reshape(4,3)
newData = pd.DataFrame(data= data, index= ["Beşiktaş", "Fenerbahçe", "Galatasaray", "Trabzonspor"], columns= ["G", "M", "P"])
newData

             G  M  P
Beşiktaş     4  5  1
Fenerbahçe   1  7  1
Galatasaray  2  5  3
Trabzonspor  6  9  8

In [6]:
# G = Galibiyet sütununu alalım.
newData["G"]

Beşiktaş       4
Fenerbahçe     1
Galatasaray    2
Trabzonspor    6
Name: G, dtype: int32

In [7]:
# Veriye yeni bir sütun ekleyelim.
newData["B"] = [1,3,2,6]
newData

             G  M  P  B
Beşiktaş     4  5  1  1
Fenerbahçe   1  7  1  3
Galatasaray  2  5  3  2
Trabzonspor  6  9  8  6

* Pandasta indeksleme yaparken loc ve iloc yapıları kullanılır.
* loc = location(konum)
* iloc = index location(indeks konumu)

In [8]:
# Verinin beraberlik sütununu başka bir yöntem ile ele alalım.
newData.loc[:,"B"]

Beşiktaş       1
Fenerbahçe     3
Galatasaray    2
Trabzonspor    6
Name: B, dtype: int64

In [9]:
# G = Galibiyet sütunun indeksini 3'e kadar olanları alalım (3 dahil).
newData.loc[:"Galatasaray" ,"G"]

Beşiktaş       4
Fenerbahçe     1
Galatasaray    2
Name: G, dtype: int32

In [11]:
# İndeksi 3'e kadar olan satırları ve G'den P'ye kadar olan sütunları al.
newData.loc[:"Galatasaray","G":"P"]

             G  M  P
Beşiktaş     4  5  1
Fenerbahçe   1  7  1
Galatasaray  2  5  3

In [12]:
# İndeksi 3'e kadar olan satırlar ile G ve B sütunlarını al.
newData.loc[:"Galatasaray" ,["G","B"]]

             G  B
Beşiktaş     4  1
Fenerbahçe   1  3
Galatasaray  2  2

In [13]:
# Satırları tersten yazdır.
newData.loc[::-1,:]

             G  M  P  B
Trabzonspor  6  9  8  6
Galatasaray  2  5  3  2
Fenerbahçe   1  7  1  3
Beşiktaş     4  5  1  1

In [15]:
# M sütununu iloc ile yazır.
newData.iloc[:,1]

Beşiktaş       5
Fenerbahçe     7
Galatasaray    5
Trabzonspor    9
Name: M, dtype: int32

In [17]:
# İlk 3 satırı ve G ve M sütunlarını al iloc ile.
newData.iloc[:3,[0,1]]

             G  M
Beşiktaş     4  5
Fenerbahçe   1  7
Galatasaray  2  5